<div class="container">
  <div class="slip-info">
    <div id="id">1</div>
    <div id="title">DERRY CITY - WATERFORD UNITED <div id="score">0:0</div></div>
    <div id="league_logo"><img src="../../assets/greek_flag.png" width="20px"></div>
    <div id="time_date_league">14:20 06/09 AIRTRICITY PREMIER LEAGUE</div>
    <div id="event_logo"><img src="../../assets/football.png" width="20px"></div>
    <div id="market_odd">Draw No Bet Home <div id="odd_value">1.73</div></div>
  </div>
  <div id="remove">x</div>
</div>