<div class="container">
  <button class="button" id="7" (click)="buttonClicked('7')">7</button>
  <button class="button" id="8" (click)="buttonClicked('8')">8</button>
  <button class="button" id="9" (click)="buttonClicked('9')">9</button>
  <button class="button" id="4" (click)="buttonClicked('4')">4</button>
  <button class="button" id="5" (click)="buttonClicked('5')">5</button>
  <button class="button" id="6" (click)="buttonClicked('6')">6</button>
  <button class="button" id="1" (click)="buttonClicked('1')">1</button>
  <button class="button" id="2" (click)="buttonClicked('2')">2</button>
  <button class="button" id="3" (click)="buttonClicked('3')">3</button>
  <button class="button" id="clear" (click)="buttonClicked('clear')">CLEAR</button>
  <button class="button" id="0" (click)="buttonClicked('0')">0</button>
  <button class="button" id="." (click)="buttonClicked('.')">.</button>
</div>