<div class="header"><div id="logo"><img src= "../../assets/bakerwill_logo.png" width="40"></div>
</div>
<div class="central">
  <app-events></app-events>
  <div class = "slip_and_menu">
  <div class = "slip">
  <app-slip></app-slip>
</div>
  <div class="side">
      <ul>
        <li><a href="#dash">DASH</a></li>
        <li><a href="#events">EVENTS</a></li>
        <li><a href="#pulse">PULSE</a></li>
        <li><a href="#reports">REPORTS</a></li>
        <li><a href="#settings">SETTINGS</a></li>
      </ul>
      </div>
</div>
</div>
<div class="footer"></div>